[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/portfolio"]
	path = lib/portfolio
	url = https://github.com/primitivefinance/portfolio
[submodule "lib/arbmod"]
	path = lib/arbmod
	url = https://github.com/primitivefinance/arbmod
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.8.2
[submodule "lib/canonical-weth"]
	path = lib/canonical-weth
	url = https://github.com/gnosis/canonical-weth
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/Uniswap/v3-core