[submodule "bindings/lib/forge-std"]
	path = bindings/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "bindings/lib/solmate"]
	path = bindings/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "bindings/lib/solstat"]
	path = bindings/lib/solstat
	url = https://github.com/primitivefinance/solstat
[submodule "bindings/lib/ds-test"]
	path = bindings/lib/ds-test
	url = https://github.com/dapphub/ds-test
