[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/portfolio"]
	path = lib/portfolio
	url = https://github.com/primitivefinance/portfolio
[submodule "lib/arbmod"]
	path = lib/arbmod
	url = https://github.com/primitivefinance/arbmod
# [submodule "lib/solmate"]
# 	path = lib/solmate
# 	url = https://github.com/transmissions11/solmate
