name: cargo-deny

on:
  push:
    branches:
      - main
  pull_request:
      - main

jobs:
  cargo-deny:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: EmbarkStudios/cargo-deny-action@v1