name: test

on:
  pull_request:
    branches:
        - main
    types: [opened, synchronize, reopened]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    env:
      ETH_RPC_URL: https://eth-mainnet.alchemyapi.io/v2/Lc7oIGYeL_QvInzI0Wiu_pOZZDEKBrdf
    steps:
      - uses: actions/checkout@v3

      - name: install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: test
        run: cargo test --all --all-features
        
  codecov:
    name: codecov
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      
      - name: install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: codecov
        run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info